#main {
  position: absolute;
  background-color: rgba(245, 246, 248, 0.897);
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#container {
  width: 100%;
  overflow-y: scroll;
  flex: 1;
  padding: 10px 0;
  border-bottom: 1px solid rgb(229, 231, 235);
  border-top: 1px solid rgb(229, 231, 235);
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.inputWrapper {
  width: 100%;
  justify-content: start;
  align-items: end;
  padding: 6px 10px;
  display: flex;
  box-sizing: border-box;
}
#menuButton {
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  margin-bottom: calc((36px - 24px) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #b5adad;
  color: #b5adad;
  border-radius: 50%;
  cursor: pointer;
}
#input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  margin: 0 10px;
  border-width: 0;
  line-height: 16px;
  height: 16px;
  resize: none;
  max-height: 40vh;
}
#sendButton {
  background-color: rgb(92, 219, 88);
  box-sizing: border-box;
  height: 30px;
  margin-bottom: calc((36px - 30px) / 2);
  width: 60px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  animation: loading 2s linear infinite;
  border-radius: 2px;
}
#dot {
  animation: rotate 1s linear infinite;
  margin-left: 10px;
}
.tip {
  top: 20px;
  position: absolute;
  padding: 10px 16px;
  background: white;
  border: 1px solid #d7d3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  font-size: smaller;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
